body {
    background-image: url("../images/bg.jpg");
    background-size: 100vw 100vh;
    opacity: 0.93;
    font-weight:900;
    color:#D1A233;
    place-content: center;
    text-align: center;
    display: grid;
}

header {
    padding: 0.1rem;
    font-size: 1.2rem;
    font-family: 'Langar', cursive;
}

main {
    justify-content: center;
    background-color: #191C21;
    position: relative;
    display: grid;
}

footer {
    background-color: #191C21;
    position: relative;
    display: grid;
    bottom: 0;
    width: 100%;
    text-indent: 1em;
}

table {
    position: relative;
    font-weight:900;
    border-color: #D1A233;
}

table td {
    border: none;
}

table caption {
    font-size: 1.5rem;
    font-family: 'Langar', cursive;
}

a {
    text-decoration: none;
    font-family: bold;
    color: #D1A233;
    font-family: 'Langar', cursive;
}

a:hover {
    color: lawngreen;
}

p {
    padding: 0 1rem;
}

ul {
    list-style: none;
}

.online_status {
    position: relative;
    font-size: 1.1rem;
    justify-content: center;
}

.search {
    position: relative;
    display: flex;
    padding: 1rem;
}

.search button#btn_search {
    background-color: #D1A233;
    font-size: 1rem;
    font-weight: bold;
    width: 30%;
    padding: 0.5rem;
    margin-left: 0.5rem;
    border: none;
    border-radius: 5%;
}

.search button#btn_search:hover {
    background-color: lawngreen;
}

.search button#btn_search:focus {
    outline: none;
}

.search input#character_name_search {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5%;
    color: rgb(28, 27, 31, 0.8);
    
}

.search input#character_name_search:focus {
    outline: none;
}

.top-menu {
    display: flex;
    background-color: #191C21;
    align-items: center;
    text-align: center;
    place-content: center;
}
